{% extends 'index.html' %}

{% block extra_css %}
    <style>
        .form-control{
            margin-bottom: 5%;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="main">
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 align-self-center p-static order-2 text-center">
                     <h1 class="text-dark font-weight-bold text-8">{{ page_title }}</h1>
                     <br />
                 </div>
                 <div class="col-md-12 align-self-center order-1">
                     <ul class="breadcrumb d-block text-center">
                         <li><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                         <li class="active">{{ page_title }}</li>
                     </ul>
                 </div>
             </div>
         </div>
        </section>
        <div class="row">
            <div class="col-12">
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                  </a>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                  </div>
                </div>
            </div>
        </div>
        <div style="margin: 3%" class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ page_title }}</h4>
                    </div>
                    <div class="card-body">
                        <p>ΕΠΕΞΗΓΗΣΗ</p>
                        <ul>
                            <li>ΦΟΝΤΟ: ΑΝΑΛΥΣΗ ΕΙΚΟΝΑΣ 1970px*550px</li>
                            <li>LOGO: ΑΝΑΛΥΣΗ ΕΙΚΟΝΑΣ 718px*982px</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <hr />
                        <h4>ΕΠΕΞΕΡΓΑΣΙΑ ΕΤΑΙΡΙΑΣ</h4>
                        <form method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <br />
                            <hr />
                            <br />
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>ΦΩΤΟΓΡΑΦΙΕΣ</h4>
                        <p>ΠΡΟΣΘΗΚΗ ΕΙΚΟΝΑΣ</p>
                        <form method="post" class="form" action="">
                            {% csrf_token %}
                            {{ image_form }}
                        </form>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ΦΩΤΟ</th>
                                    <th>ΚΑΤΗΓΟΡΙΑ</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for image in company.images.all %}
                                    <tr>
                                        <td><img src="{{ image.image.url }}" width="200" height="200" class="img-thumbnail" ></td>
                                        <td></td>
                                        <td><a href="" class="btn btn-warning"><i class="fa fa-edit"></i> </a> </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if company.support_products %}
                <div class="card">
                    <div class="card-header">
                        <h4>ΠΡΟΪΟΝΤΑ</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>-</th>
                                    <th>ΠΡΟΪΟΝ</th>
                                    <th>ΚΑΤΗΓΟΡΙΕΣ</th>
                                    <th>ΤΙΜΗ</th>
                                    <th>ΚΑΤΑΣΤΑΣΗ</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in company.my_products.all %}
                                    <tr>
                                        <td><img {% if product.image %}src="{{ product.image.url }}" {% else  %}  {% endif %}width="100" height="100" /></td>
                                        <td>{{ product.title }}</td>
                                        <td>{% for cat in product.category.all %} {{ cat }} | {% endfor%}</td>
                                        <td>ΑΡΧΙΚΗ ΤΙΜΗ {{ product.price }} | ΤΕΛΙΚΗ ΤΙΜΗ {{ product.final_price }}</td>
                                        <td></td>
                                        <td><a href="{{ product.get_edit_url }}" class="btn btn-warning"><i class="fa fa-edit"></i> </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if company.support_service %}
                    <div class="card">
                    <div class="card-header">
                        <h4>ΥΠΗΡΕΣΙΕΣ</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>-</th>
                                    <th>ΥΠΗΡΕΣΙΑ</th>
                                    <th>ΚΑΤΗΓΟΡΙΕΣ</th>
                                    <th>ΤΙΜΗ</th>
                                    <th>ΕΧΕΙ ΠΡΟΤΕΡΙΟΤΗΤΑ</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in company.services.all %}
                                    <tr>
                                        <td><img {% if product.image %}src="{{ product.image.url }}" {% else  %}  {% endif %} width="100" height="100" /></td>
                                        <td>{{ product.title }}</td>
                                        <td>{% for cat in product.category.all %} {{ cat }} | {% endfor%}</td>
                                        <td>ΑΡΧΙΚΗ ΤΙΜΗ {{ product.price }} | ΤΕΛΙΚΗ ΤΙΜΗ {{ product.final_price }}</td>
                                        <td>{{ product.tag_primary }}</td>
                                        <td><a href="{{ product.get_edit_url }}" class="btn btn-warning"><i class="fa fa-edit"></i> </a> </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-3">
                <a href="{{ back_url }}" class="btn btn-warning">ΕΠΙΣΤΡΟΦΗ</a>
                <br/>
                <hr/>
                <div class="card">
                    <div class="card-header">
                        <h4>ΠΛΗΡΟΦΟΡΙΕΣ</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>ΕΙΔΟΣ</th>
                                    <td>{{ company.get_business_type_display }}</td>
                                </tr>
                                <tr>
                                    <th>ΠΛΑΝΟ ΠΛΗΡΩΜΗΣ</th>
                                    <td>{{ company.get_priority_display }}</td>
                                </tr>
                                <tr>
                                    <th>ΤΕΛΟΣ ΣΥΝΔΡΟΜΗΣ</th>
                                    <td>{{ company.subscription_ends }}</td>
                                </tr>
                                <tr>
                                    <th>ΜΕΓΙΣΤΗ ΠΟΣΟΤΗΤΑ ΥΠΗΡ./ ΠΡΟΪΟΝ</th>
                                    <td>{{ company.max_items }}</td>
                                </tr>
                                <tr>
                                    <th>ΠΟΛΗ</th>
                                    <td>{{ company.city }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if company.support_service %}
                <div class="card">
                    <div class="card-header">
                        <h4>ΔΗΜΙΟΥΡΓΙΑ ΥΠΗΡΕΣΙΑΣ</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form" action="{% url 'accounts:validate_product_or_service' company.slug 'service' %}">
                            {{ service_form }}
                            <br />
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% if company.support_products %}
                <div class="card">
                    <div class="card-header">
                        <h4>ΔΗΜΙΟΥΡΓΙΑ ΠΡΟΪΟΝΤΟΣ</h4>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" class="form" action="{% url 'accounts:validate_product_or_service' company.slug 'product' %}">
                            {% csrf_token %}
                            {{ product_form }}
                            <br />
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
    <script>
        $('#myModal').modal('hide');
    </script>
{% endblock %}
