{% extends 'auth_templates/dashboard.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>{{ company }}
                            <small>{{ company.get_business_type_display }}</small>
                        </h3>
                        
                    </div>
                    <br />
                    <div {% if company.active %} style="color: green" {% else %} style="color: red"  {% endif %}class="page-header-left">
                        <h4>ΛΗΞΗ ΣΥΝΔΡΟΜΗΣ: {{  company.subscription_ends }}</h4>
                    </div>
                    <br />
                     <a href="{% url 'accounts:manage_links' company.slug %}" class='btn btn-primary'>Links </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5> ΠΛΗΡΟΦΟΡΙΕΣ </h5>

                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th scope="col">-</th>
                                    <th scope="col">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ΑΦΜ</td>
                                        <td>{{ company.owner.profile.taxes_id }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΚΑΤΗΓΟΡΙΑ</td>
                                        <td>{{ company.instagramcategories_set.all }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΠΛΑΝΟ</td>
                                        <td>{{ company.get_priority_display }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΠΟΛΗ</td>
                                        <td>{{ company.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΜΕΓΙΣΤΑ ΠΡΟΪΟΝΤΑ/ΥΠΗΡΕΣΙΕΣ</td>
                                        <td>{{ company.max_items }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΕΠΙΣΚΕΨΙΜΟΤΗΤΑ</td>
                                        <td>{{ product.counter }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΔΙΕΥΘΥΝΣΗ</td>
                                        <td>{{ info.full_address }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΤΗΛΕΦΩΝΑ</td>
                                        <td>{{ info.full_phones }}</td>
                                    </tr>
                                    <tr>
                                        <td>ΕΜΑΙΛ</td>
                                        <td>{{ info.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>website</td>
                                        <td>{{ info.website }}</td>
                                    </tr>
                                    <tr>
                                        <td>FACEBOOK</td>
                                        <td>{{ info.facebook_url }}</td>
                                    </tr>
                                    <tr>
                                        <td>INSTAGRAM</td>
                                        <td>{{ info.instagram_url }}</td>
                                    </tr>



                                </tbody>
                            </table>
                            <a href="{% url 'accounts:update_company_data' company.id %}" class="btn btn-success">ΕΠΕΞΕΡΓΑΣΙΑ</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5> ΕΙΚΟΝΕΣ </h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th scope="col">ΕΙΚΟΝΑ</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">ΚΑΤΗΓΟΡΙΑ</th>
                                    <th scope="col">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for image in company.images.all %}
                                        <tr>
                                            <td><img src="{{ image.image.url }}" class="image" width="50" height="50"> </td>
                                            <td>{{ image.image.url }}</td>
                                            <td>{{ image.category }}</td>
                                            <td><a href="{{ image.get_edit_url }}" class="btn btn-primary"><i class="fa fa-edit"></i> </a> </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
                              ΠΡΟΣΘΗΚΗ ΕΙΚΟΝΑΣ
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">ΠΡΟΣΘΗΚΗ ΕΙΚΟΝΑΣ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" class="form" enctype="multipart/form-data" action="{% url 'accounts:create_company_image' company.slug %}">
                                        {% csrf_token %}
                                        {{ image_form }}
                                        <br />
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5> ΠΡΟΪΟΝΤΑ </h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th>ΕΙΚΟΝΑ</th>
                                    <th scope="col">ΠΡΟΪΟΝ</th>
                                    <th scope="col">ΤΙΜΗ</th>
                                    <th scope="col">ΚΑΤΑΣΤΑΣΗ</th>
                                    <th scope="col">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in company.my_products.all %}
                                        <tr>
                                            <td><img width="80" height="80" src="{{ product.tag_image }}"></td>
                                            <td>{{ product }}</td>
                                            <td>{{ product.tag_price }}</td>
                                            <td>{{ product.tag_active }}</td>
                                            <td><a href="{{ product.get_edit_url }}" class="btn btn-primary"><i class="fa fa-edit"></i> </a> </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productImage">
                              ΠΡΟΣΘΗΚΗ ΠΡΟΪΟΝΤΟΣ
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="productImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">ΠΡΟΣΘΗΚΗ ΠΡΟΪΟΝΤΟΣ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" class="form" enctype="multipart/form-data" action="{% url 'accounts:validate_product_or_service' company.slug 'product' %}">
                                        {% csrf_token %}
                                        {{ product_form }}
                                        <br />
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100">
                <div class="card">
                    <div class="card-header">
                        <h5>ΥΠΗΡΕΣΙΕΣ</h5>

                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th scope="col">ΠΡΟΪΟΝ</th>
                                    <th scope="col">ΤΙΜΗ</th>
                                    <th scope="col">ΚΑΤΑΣΤΑΣΗ</th>
                                    <th scope="col">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for service in company.services.all %}
                                        <tr>
                                            <td>{{ service }}</td>
                                            <td>{{ service.tag_price }}</td>
                                            <td>{{ service.tag_active }}</td>
                                            <td><a href="{{ service.get_edit_url }}" class="btn btn-primary"><i class="fa fa-edit"></i> </a> </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                             <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productImage">
                              ΠΡΟΣΘΗΚΗ ΥΠΗΡΕΣΙΑΣ
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="productImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">ΠΡΟΣΘΗΚΗ ΠΡΟΪΟΝΤΟΣ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" class="form" enctype="multipart/form-data" action="{% url 'accounts:validate_product_or_service' company.slug 'product' %}">
                                        {% csrf_token %}
                                        {{ product_form }}
                                        <br />
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-6'>
                <div class="card">
                    <div class="card-header">
                        <h5> Links </h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive latest-order-table">
                            <table class="table table-bordernone">
                                <thead>
                                <tr>
                                    <th scope="col">ΤΙΤΛΟΣ</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">ΚΑΤΗΓΟΡΙΑ</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in company.my_products.all %}
                                        <tr>
                                            <td>{{ product }}</td>
                                            <td>{{ product.tag_price }}</td>
                                            <td>{{ product.tag_active }}</td>
                                            <td><a href="{{ product.get_edit_url }}" class="btn btn-primary"><i class="fa fa-edit"></i> </a> </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productImage">
                              ΠΡΟΣΘΗΚΗ ΕΙΚΟΝΑΣ
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="productImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">ΠΡΟΣΘΗΚΗ ΠΡΟΪΟΝΤΟΣ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" class="form" enctype="multipart/form-data" action="{% url 'accounts:validate_product_or_service' company.slug 'product' %}">
                                        {% csrf_token %}
                                        {{ product_form }}
                                        <br />
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΘΗΚΕΥΣΗ </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}