{% extends 'index.html' %}

{% block content %}
 <div role="main" class="main">
     <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 align-self-center p-static order-2 text-center">
                     <h1 class="text-dark font-weight-bold text-8">{{ category }}</h1>
                     <br />
                 </div>
                 <div class="col-md-12 align-self-center order-1">
                     <ul class="breadcrumb d-block text-center">
                         <li><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                         <li class="active">{{ category }}</li>
                     </ul>
                 </div>
             </div>
         </div>
     </section>
     <div class="row" style="margin: 2%">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>ΣΥΝΔΕΣΗ</h4>
                </div>
                <div class="card-body">
                    <form class="form" method="post" action="{% url 'accounts:validate_login' %}">
                        {% csrf_token %}
                        {{ login_form }}
                        <br> <hr>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΣΥΝΔΕΣΗ</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                   <h4>ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</h4>
                </div>
               <div class="card-body">
                   <form class="form" method="post" action="{% url 'accounts:validate_register' %}">
                        {% csrf_token %}
                        {{ register_form }}
                        <br> <hr>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΣΤΟΛΗ </button>
                    </form>
               </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}