{% extends 'index.html' %}

{% block content %}
 <div role="main" class="main">
     <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>{{ page_title }}</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     <div class="row" style="margin: 2%">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>ΣΥΝΔΕΣΗ</h4>
                </div>
                <div class="card-body">
                    <form class="form" method="post" action="{% url 'accounts:validate_login' %}">
                        {% csrf_token %}
                        {{ login_form }}
                        <br> <hr>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΣΥΝΔΕΣΗ</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                   <h4>ΔΗΜΙΟΥΡΓΙΑ ΛΟΓΑΡΙΑΣΜΟΥ</h4>
                </div>
               <div class="card-body">
                   <form class="form" method="post" action="{% url 'accounts:validate_register' %}">
                        {% csrf_token %}
                        {{ register_form }}
                        <br> <hr>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> ΑΠΟΣΤΟΛΗ </button>
                    </form>
               </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}