{% extends 'index.html' %}

{% block content %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>{{ page_title }}</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 5%">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{% if success %} ΕΠΙΤΥΧΗΣ ΕΓΓΡΑΦΗ {% else %} ΜΗ ΕΠΙΤΥΧΗΣ ΕΓΓΡΑΦΗ {% endif %}</h4>
                    </div>

                    <div class="card-body">
                        {% if success %}
                        <h4>
                            Σας ευχαριστούμε για την εγγραφή.Το αίτημας σας αποθηκεύτηκε και μετά από έλεγχο των στοιχείων σας, θα επικοινωνήσουμε μαζί σας
                            για να σας δώσουμε το username και το password σας.
                        </h4>
                            <a href="{% url 'homepage' %}" class="btn btn-success">ΕΠΙΣΤΡΟΦΗ</a>

                        {% else %}
                            <h4>Κάτι πήγε λάθος</h4>
                            {{ form.errors }}
                            <hr/>
                            Για περισσότερες πληροφορίες επικοινωνήστε τηλεφωνικα {{ our_phone }}στο ή μέσω email στο {{ our_email }}.
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

{% endblock %}