{% extends 'index.html' %}


{% block content %}

     <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Προσωπικά Δεδομένα</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Προσωπικά Δεδομένα</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Cookies </h6>
                                <p>
                                    Τα «cookies» χρησιμοποιούνται με σκοπό τη βελτίωση της απόδοσης χρήσης του Ιστότοπου,
                                    καθώς και την εμπειρία περιήγησης του επισκέπτη. Πρόκειται για μικρά αρχεία κειμένου με πληροφορίες,
                                    που μια ιστοσελίδα (συγκεκριμένα ο διακομιστής ιστού – web server) αποθηκεύει στον υπολογιστή ενός χρήστη,
                                    χωρίς να λαμβάνουν γνώση οποιουδήποτε εγγράφου ή αρχείου από τον υπολογιστή του χρήστη.
                                    Τα cookies περιέχουν κάποιες πληροφορίες, όπως η γλώσσα χρήσης, το μέγεθος γραμματοσειράς και άλλες προτιμήσεις απεικόνισης.
                                    Κάθε φορά που ο χρήστης συνδέεται σε μια ιστοσελίδα, η τελευταία ανακτά τις εν λόγω πληροφορίες και προσφέρει
                                    στο χρήστη σχετικές με αυτές υπηρεσίες.
                                    <br>
                                    Ποια cookies χρησιμοποιούμε;
                                    <br>
                                    Απαραίτητα Cookies (Necessary Cookies): Είναι απολύτως αναγκαία για τη λειτουργία του Ιστότοπου, καθώς σας επιτρέπουν
                                    να περιηγείστε σε αυτόν και να χρησιμοποιείτε τις υπηρεσίες του.
                                    Σε περίπτωση που επιλέξετε να τα απενεργοποιήσετε, δεν θα μπορείτε να έχετε πρόσβαση σε όλο το περιεχόμενο του Ιστοτόπου.
                                    <br>
                                    Στατιστικά Cookies (Statistic Cookies): Τα cookies στατιστικών συγκεντρώνουν πληροφορίες σχετικά με τη συμπεριφορά της πλοήγησής σας
                                    στον Ιστότοπο,
                                    όπως ποιες σελίδες του γίνονται αντικείμενο συχνών επισκέψεων και αν λαμβάνετε μηνύματα σφάλματος.
                                    Μέσω αυτού είμαστε σε θέση να κάνουμε τη δομή, την πλοήγηση και το περιεχόμενο του ιστοτόπου όσο το δυνατόν πιο φιλικά προς εσάς.
                                    Ενδέχεται να χρησιμοποιήσουμε λογισμικό, όπως το Google Analytics, προκειμένου να αναλύσουμε τη χρήση των σελίδων,
                                    τις αλληλεπιδράσεις των σελίδων και τις διαδρομές που ακολουθούνται μέσω των ιστοτόπων μας. Αυτά είναι γνωστά ως «website metrics» ή «analytics».
                                    Το Google Analytics είναι μια διαδικτυακή υπηρεσία ανάλυσης που προσφέρεται από τη Google Inc. (Google). Το Google Analytics χρησιμοποιεί cookies για να αναλύει
                                    τη χρήση του ιστοτόπου από τους χρήστες. Η Google χρησιμοποιεί συγκεντρωτικά στατιστικά στοιχεία προκειμένου να δώσει στην Εταιρεία μια εικόνα για τον τρόπο
                                    που οι χρήστες χρησιμοποιούν τον Ιστότοπο. Αν δεν δεχθείτε αυτά τα cookies, δεν θα επηρεαστεί η λειτουργικότητα του ιστοτόπου, ούτε θα περιοριστεί η πρόσβασή σας σε περιεχόμενο του,
                                    ωστόσο  αυτά μας δίνουν πολύτιμες πληροφορίες που μας επιτρέπουν να βελτιώσουμε τον Ιστότοπο, τα προϊόντα και τις υπηρεσίες που προσφέρουμε.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Υπεύθυνος Επεξεργασίας </h6>
                                <p>
                                  Υπεύθυνος για την επεξεργασία των δεδομένων σας είναι ο Σταθάκης Χρήστος,  ο οποίος είναι και δικαιούχος χρήσης του παρόντος δικτυακού τόπου.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Ορισμός των Προσωπικών Δεδομένων και της Επεξεργασίας τους </h6>
                                <p>
                                  Προσωπικά δεδομένα είναι πληροφορίες, όπως ονοματεπώνυμο, ταχυδρομική διεύθυνση, ηλεκτρονική διεύθυνση, τηλέφωνο επικοινωνίας, κ.ά.,
                                    οι οποίες προσδιορίζουν ή μπορούν συνδυαστικά με άλλες πληροφορίες να προσδιορίσουν την ταυτότητα ενός φυσικού προσώπου, επισκέπτη/ χρήστη του
                                    Ιστότοπου ή της Σελίδας Facebook. Επεξεργασία προσωπικών δεδομένων αποτελεί η συλλογή, καταχώρηση, οργάνωση, αποθήκευση, προσαρμογή, μεταβολή, ανάκτηση,
                                    αναζήτηση πληροφοριών, χρήση, διαβίβαση σε τρίτους, διάδοση, συσχέτιση, συνδυασμός, περιορισμός,
                                    διαγραφή και καταστροφή προσωπικών δεδομένων φυσικών προσώπων. Η επεξεργασία περιλαμβάνει κάθε πράξη, που πραγματοποιείται
                                    από τον Υπεύθυνο Επεξεργασίας σε δεδομένα προσωπικού χαρακτήρα των χρηστών του Ιστότοπου ή της Σελίδας.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>Συλλογή των Προσωπικών σας Δεδομένων</h6>
                                <p>
                                  Κατά κύριο λόγο συλλέγουμε τα στοιχεία σας απευθείας από εσάς, κατά την εγγραφή σας σε υπηρεσίες ή κατά την επικοινωνία σας μαζί μας.
                                    Επιπλέον, συλλέγουμε προσωπικά δεδομένα σας παθητικά μέσω εργαλείων εντοπισμού, όπως cookies και beacons.
                                    Τέλος, συλλέγουμε δεδομένα και από τρίτα μέρη, όπως πλατφόρμες κοινωνικής δικτύωσης [Facebook, Instagram].
                                    Ο τρόποι συλλογής των δεδομένων σας αποτυπώνονται στα ακόλουθα στάδια:
                                    <br>
                                    - Κατά την επίσκεψη και πλοήγηση σας στον Ιστότοπο, δεδομένα σας συλλέγονται μόνο από τα cookies που έχετε επιτρέψει
                                    με την συγκατάθεση σας να χρησιμοποιηθούν
                                    <br>
                                    - Για να επικοινωνήσετε μαζί μας συμπληρώνετε στην αντίστοιχη φόρμα επικοινωνίας, το ονοματεπώνυμο και τη διεύθυνση
                                    ηλεκτρονικού ταχυδρομείου σας (email), τα οποία συλλέγουμε μαζί με το σχόλιό σας για να σας απαντήσουμε.
                                    <br>
                                    - Σε περίπτωση που συμμετέχετε σε κάποιον από τους διαγωνισμούς που διοργανώνουμε, θα συλλέξουμε και αποθηκεύσουμε ορισμένα προσωπικά δεδομένα σας,
                                    τα οποία είναι αναγκαία για τους σκοπούς της διεξαγωγής του διαγωνισμού και της απονομής των δώρων στους νικητές
                                    (π.χ. ονοματεπώνυμο, email, τηλέφωνο, ΑΜΚΑ).
                                    <br>
                                    - Ο Ιστότοπος χρησιμοποιεί εξωτερικές υπηρεσίες καταγραφής επισκεψιμότητας, όπως την Google Analytics.
                                    Η Google Analytics μας παρέχει ανωνυμοποιημένα δεδομένα για να καθορίσουμε τον αριθμό των ατόμων που χρησιμοποιούν τον Ιστότοπό μας,
                                    για να κατανοήσουμε καλύτερα τον τρόπο με τον οποίο βρίσκουν και χρησιμοποιούν τις ιστοσελίδες μας και για να δούμε
                                    την πορεία τους  μέσα στον  Ιστότοπο. Παρόλο που η Google Analytics χρησιμοποιεί cookies για να καταγράφει δεδομένα, όπως η γεωγραφική σας θέση,
                                    η συσκευή σας, το πρόγραμμα περιήγησης  στο διαδίκτυο και το λειτουργικό σας σύστημα, καμία από αυτές τις πληροφορίες δεν συνδέεται
                                    με το πρόσωπό σας και δεν σας ταυτοποιεί. Σημειώνουμε ότι η Google είναι ένας τρίτος φορέας επεξεργασίας δεδομένων.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock %}
