{% extends 'index.html' %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Οροι Χρήσης</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Οροι Χρήσης</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>1.) Πρόσβαση/Επικοινωνία</h6>
                                <p>
                                    Η εταιρία Οπτικά Κότσαλης  παρέχει στους επισκέπτες/χρήστες του διαδικτυακού τόπου www.optikakotsalis.gr υπηρεσίες ηλεκτρονικού εμπορίου,με τη δυνατότητα αγοράς προϊόντων μέσω εφαρμογών
                                    ηλεκτρονικού εμπορίου σύμφωνα με τους ειδικότερους όρους που αυτό τάσσει, μεριμνώντας για την προστασία των προσωπικών στοιχείων που υποβάλλονται για τη χρήση των υπηρεσιών αυτών,
                                    σύμφωνα με τις διατάξεις της κείμενης ημεδαπής νομοθεσίας (Π.Δ. 131/2003,Ν.2251/1994) και του κοινοτικού δικαίου. Ο επισκέπτης έχει πρόσβαση στην ιστοσελίδα πληκτρολογώντας τη
                                    διεύθυνση του διαδικτυακού τόπου «www.optikakotsalis.gr» σε οποιαδήποτε διαδικτυακή μηχανή αναζήτησης της οποίας κάνει χρήση. Οι ήδη υπάρχουσες καθώς και οποιεσδήποτε νέες υπηρεσίες
                                    συμπεριληφθούν στο www.optikakotsalis.gr υπόκεινται στους παρόντες όρους χρήσης, εκτός αν ρητά αναφέρεται το αντίθετο. Ο επισκέπτης/χρήστης του διαδυκτιακού τόπου www.optikakotsalis.gr
                                    έχει άμεση πρόσβαση στα στοιχεία επικοινωνίας του καταστήματος «Οπτικά Κότσαλης υ» και του διαδικτυακού τόπου www.optikakotsalis.gr , στον οποίο και έχουν αναρτηθεί στο εικονίδιο «Επικοινωνία»
                                    ο αριθμός τηλεφώνου του καταστήματος, αριθμός τηλεμοιότυπου (fax) και διευθυνση ηλεκτρονικού ταχυδρομείου (e-mail). Η πρόσβαση στις σελίδες/υπηρεσίες του www.simply-you.gr
                                    δεν συνεπάγεται κανένα επιπλέον κόστος για τον επισκέπτη /χρήστη, πέραν του ισχύοντος τιμολογιακού καθεστώτος
                                    για την γενική πρόσβαση στο Διαδίκτυο, όπως έχει διαμορφωθεί από τους αρμόδιους παροχείς (ISP's) και καταβάλλεται σε αυτούς και μόνο , στη βάση της μεταξύ τους σύμφωνίας.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> 2.) Εγγραφή Χρήστη/Δημιουργία Λογαριασμού</h6>
                                <p>Εφόσον ο επισκέπτης/χρήστης επιθυμεί να εγγραφεί στις υπηρεσίες του www.optikakotsalis.gr βεβαιώνει ότι παρέχει αληθείς και
                                    πλήρεις πληροφορίες σχετικά με τα στοιχεία που του ζητούνται από το www.optikakotsalis.gr για πρόσβαση στα περιεχόμενα/υπηρεσίες του
                                    μέσω της δημιουργίας προσωπικού λογαριασμού . πελάτης πατώντας στο εικονίδιο «δημιουργία λογαριασμού» οφείλει να συμπληρώσει μια φόρμα,
                                    η οποία περιέχει τα εξής στοιχεία: Όνομα, Επίθετο, Επωνυμία Εταιρίας(περί νομικών προσώπων) Aριθμός Τηλεφώνου, Διέυθυνση, Πόλη, Χώρα, Περιφέρεια,
                                    Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail), Αριθμός Τηλεoμοιότυπου (fax), Ταχυδρομικός Κώδικας, Κωδικός Πρόσβασης (Επιβεβαίωση Κωδικού Πρόσβασης).
                                    Σε αυτό το στάδιο ο πελάτης δημιουργεί τον προσωπικό του λογαριασμό. Ο πελάτης επίσης μπορεί να επιλέξει κατά το στάδιο της εγγραφής
                                    και αφού συμπληρώσει τα παραπάνω στοιχεία, αν επιθυμεί να λαμβάνει ενημερωτικά δελτία. O επισκέπτης της ιστοσελίδας έχει τη δυνατότητα εγγραφής
                                    στο ενημερωτικό δελτίο (newsletter), συμπληρώνοντας τα στοιχεία που προβλέπονται στην αντίστοιχη φόρμα (η οποία βρίσκεται στο εικονίδιο «Εγγραφή στο newsletter» ).
                                    Ο επισκέπτης ζητείται να συμπληρώσει το όνομα και την διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail). Με την εγγραφή στο ενημερωτικό δελτίο (newsletter) ,
                                    ο επισκέπτης θα λαμβάνει ενημερωτικά e-mail για τα προϊόντα, τις προσφορές και τις εκπτώσεις του καταστήματος. Ο επισκέπτης επίσης με την εγγραφή του κερδίζει
                                    αυτόματα έκπτωση 7% σε όλα τα προϊόντα (εξαιρούνται τα εκπτωτικά προϊόντα) του καταστήματος , για τις αγορές που θα πραγματοποιήσει..</p>

                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> 3.1) ΠΑΡΑΓΓΕΛΙΑ</h6>
                                <p>Ο πελάτης πραγματοποιεί την παραγγελία του όπως περιγράφεται παρακάτω.
                                    Η επικύρωση της παραγγελίας συνεπάγεται την αποδοχή των όρων πώλησης. - Ο πελάτης που ενδιαφέρεται για ένα προϊόν στην ιστοσελίδα μας ακολουθεί την παρακάτω διαδικασία για να ολοκληρώσει
                                    την παραγγελία του: Πατώντας το εικονίδιο «καλάθι» , ελέγχοντας τα στοιχεία της παραγγελίας (χρώμα, ποσότητα, μέγεθος, τιμή, κλπ...)
                                    εν συνεχέια ο πελάτης επικυρώνει το επιλεγμένο προϊόν ή τα επιλεγμένα προϊόντα πατώντας το εικονίδιο «αγορά».
                                    - Κατά την πρώτη του παραγγελία ο πελάτης οφείλει να συμπληρώσει μια φόρμα, η οποία περιέχει τα εξής στοιχεία:
                                    Όνομα, Επίθετο, Επωνυμία Εταιρίας(περί νομικών προσώπων) Aριθμός Τηλεφώνου, Διέυθυνση, Πόλη, Χώρα, Περιφέρεια, Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail), Αριθμός Τηλεμεμοιότυπου (fax),
                                    Ταχυδρομικός Κώδικας, Κωδικός Κάρτας Μέλους. Σε αυτό το στάδιο ο πελάτης δημιουργεί τον προσωπικό του λογαριασμό.
                                    Αφού επιλέξει τον τρόπο πληρωμής, ο πελάτης καλείται, (αφού βεβαιωθεί ως προς την ορθότητα των στοιχείων που παρέθεσε και την επιλογή του προϊόντος )
                                    να επικυρώσει οριστικά και αμετάκλητα την παραγγελία του πατώντας το εικονίδιο «επιβεβαίωση παραγγελίας».
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>3.2) ΠΛΗΡΩΜΗ</h6>
                                <p>Ι.Αντικαταβολή (Μετρητά στη παράδοση- «χέρι με χέρι»)
                                    Μπορείτε να εξοφλήσετε την παραγγελία σας κατά την παραλαβή του πακέτου σας.
                                    Η επιλογή της αντικαταβολής χρεώνεται 2,99€ εντός Ελλάδας και Κύπρου για όλες τις παραγγελίες μας.
                                    ΙΙ.Πληρωμή με τραπεζικό έμβασμα.
                                    Η πληρωμή πραγματοποιείται μέσω των συνεργαζόμενων τραπεζών στους ιστότοπους των οποίων σας παραπέμπει η σελίδα μας αυτόματα ώστε να πραγματοποιήσετε την πληρωμή σας.
                                    Εφόσον επιλέξετε την καταβολή του τιμήματος με τραπεζικό έμβασμα, θα λάβετε αμέσως μετά την τοποθέτηση της παραγγελίας,
                                    ένα e-mail με όλα τα στοιχεία που χρειάζεστε για να κάνετε την τραπεζική κατάθεση χρημάτων.
                                    Αυτό μπορεί να γίνει είτε μέσα από την ιστοσελίδα της τράπεζά σας, μέσω e-banking,
                                    τηλεφωνικώς ή απευθείας σε κάποιο τραπεζικό κατάστημα. Τα www.optikakotsalis.gr διατηρεί το δικαίωμα να αρνηθεί την παράδοση ή
                                    την πραγματοποίηση παραγγελίας από πελάτη με τον οποίο εκκρεμεί δικαστική διαφορά.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>5.) ΕΠΙΣΤΡΟΦΗ /ΑΛΛΑΓΗ /ΑΝΤΙΚΑΤΑΣΤΑΣΗ</h6>
                                <p>Όλα τα προϊόντα που αγοράζονται από την ιστοσελίδα www.optikakotsalis.gr μπορούν να επιστραφούν για αντικατάσταση/αλλαγή με μεγαλύτερο ή μικρότερο νούμερο ή αλλαγή/αντικατάσταση στην
                                    επιλογή του προϊόντος, εφόσον υπάρχουν διαθέσιμα αποθέματα. Το κατάστημα επίσης επιφυλάσσεται να ακολουθήσει πολιτική επιστροφής χρημάτων.
                                    Ελλάδα Δεν θα επιβαρυνθείτε με έξοδα επιστροφής για την Πρώτη Αλλαγή. Σε οποιαδήποτε άλλη περίπτωση ο πελάτης θα επιβαρύνεται με τα έξοδα επιστροφής
                                    και αποστολής ( τα οποία ανέρχονται στο ποσό των 5 ευρώ). Σε κάθε περίπτωση ο πελάτης μπορεί να επικοινωνήσει με οποιονδήποτε από τους διαθέσιμους τρόπους επικοινωνίας με το
                                    www.optikakotsalis.gr, για τη ρύθμιση της διαδικασίας αλλαγής, έχοντας το δικαίωμα να επιλέξει κάποιο διαφορετικό προϊόν ίσης η μεγαλύτερης αξίας.
                                    Στην περίπτωση που ο πελάτης θελήσει να κάνει αλλαγή για δεύτερη συνεχή φορά στο ίδιο προϊόν, θα επιβαρυνθεί με τα έξοδα επιστροφής κ αποστολής,
                                    τα οποία συνολικά θα ανέρχονται στα 5 ευρώ, και θα εκτελείτε πάντα και αποκλειστικά με τούς φορείς που συνεργαζόμαστε, την Γενική Ταχυδρομική και την ACS.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>6.) ΕΠΙΣΤΡΟΦΗ ΧΡΗΜΑΤΩΝ</h6>
                                <p>Η πολιτική επιστροφής χρημάτων ακολουθείται στις παρακάτω περιπτώσεις : - Το προϊόν θα πρέπει να βρίσκεται στην αρχική του συσκευασία που είχε κατά την παραλαβή από τον πελάτη.
                                    - Το προϊόν και η κούτα που το συνοδεύει θα πρέπει να βρίσκονται στην αρχική τους κατάσταση (όπως είχε κατά το χρόνο της παράδοσης στο πελάτη) και να μην έχουν υποστεί φθορές ή άλλα ελαττώματα.
                                    - Ο πελάτης θα πρέπει να επικοινωνήσει με οποιονδήποτε τρόπο επικοινωνίας επιθυμεί, που είναι διαθέσιμος στο optikakotsalis.gr (στοιχεία που αναγράφονται στο τομέα «Επικοινωνία»»)
                                    εντός 3 ημερών από τη παραλαβή. - Το προϊόν θα πρέπει να συνοδεύεται από τα αντίστοιχα παραστατικά που ο πελάτης έλαβε κατά τη παραλαβή του (απόδειξη, τιμολόγιο).
                                    Η επιστροφή θα πραγματοποιείται εντός 3 εργάσιμων ημερών με κατάθεση στον τραπεζικό λογαριασμό που θα υποδεικνύει ο πελάτης . Ο πελάτης θα επιβαρύνεται με τα έξοδα επιστροφής του προϊόντος.
                                    Τα χρηματικά ποσά που αφορούν υπηρεσίες ( Παράδοσης Σαββάτου, Αντικαταβολής, Συσκευασίας Δώρου, Επιπλέον Έξοδα Αποστολής κ.τ.λ ) δεν επιστρέφονται.
                                    Σπανίως ενδέχεται να υπάρξει καθυστέρηση της επιστροφής χρημάτων, που μπορεί να διαρκέσει από 24 έως 72 ώρες και να οφείλεται σε περιόδους αιχμής (πχ. 10ήμερα προσφορών ,
                                    Εκπτώσεις , Black Friday), ή και σε επιπρόσθετο έλεγχο του προϊόντος. Οι ώρες και οι λόγοι που αφορούν την καθυστέρηση της επιστροφής είναι ενδεικτικοί.
                                    H επιστροφή χρημάτων είναι εφικτή μόνο για τις αγορές που πραγματοποιούνται ηλεκτρονικά (www.simply-you.gr) και δεν ισχύει για αγορές από τα φυσικά μας καταστήματα.
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->




{% endblock %}