{% extends 'index.html' %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Οροι Χρήσης</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Οροι Χρήσης</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>1.) Πρόσβαση/Επικοινωνία</h6>
                                <p>
                                    Η εταιρία www.monemvasia.org  παρέχει στους επισκέπτες/χρήστες του διαδικτυακού τόπου  www.monemvasia.org υπηρεσίες ηλεκτρονικού εμπορίου,
                                    μεριμνώντας για την προστασία των προσωπικών στοιχείων που υποβάλλονται για τη χρήση των υπηρεσιών αυτών,
                                    σύμφωνα με τις διατάξεις της κείμενης ημεδαπής νομοθεσίας (Π.Δ. 131/2003,Ν.2251/1994) και του κοινοτικού δικαίου. Ο επισκέπτης έχει πρόσβαση στην ιστοσελίδα πληκτρολογώντας τη
                                    διεύθυνση του διαδικτυακού τόπου « www.monemvasia.org» σε οποιαδήποτε διαδικτυακή μηχανή αναζήτησης της οποίας κάνει χρήση.
                                    Οι ήδη υπάρχουσες καθώς και οποιεσδήποτε νέες υπηρεσίες
                                    συμπεριληφθούν στο  www.monemvasia.org υπόκεινται στους παρόντες όρους χρήσης, εκτός αν ρητά αναφέρεται το αντίθετο.
                                    Ο επισκέπτης/χρήστης του διαδυκτιακού τόπου  www.monemvasia.org
                                    έχει άμεση πρόσβαση στα στοιχεία επικοινωνίας του καταστήματος «Οπτικά Κότσαλης υ» και του διαδικτυακού τόπου  www.monemvasia.org ,
                                    στον οποίο και έχουν αναρτηθεί στο εικονίδιο «Επικοινωνία»
                                    ο αριθμός τηλεφώνου του καταστήματος, αριθμός τηλεμοιότυπου (fax) και διευθυνση ηλεκτρονικού ταχυδρομείου (e-mail). Η πρόσβαση στις σελίδες/υπηρεσίες του www.simply-you.gr
                                    δεν συνεπάγεται κανένα επιπλέον κόστος για τον επισκέπτη /χρήστη, πέραν του ισχύοντος τιμολογιακού καθεστώτος
                                    για την γενική πρόσβαση στο Διαδίκτυο, όπως έχει διαμορφωθεί από τους αρμόδιους παροχείς (ISP's) και καταβάλλεται σε αυτούς και μόνο , στη βάση της μεταξύ τους σύμφωνίας.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> 2.) Εγγραφή Χρήστη/Δημιουργία Λογαριασμού</h6>
                                <p>Εφόσον ο επισκέπτης/χρήστης επιθυμεί να εγγραφεί στις υπηρεσίες του  www.monemvasia.org βεβαιώνει ότι παρέχει αληθείς και
                                    πλήρεις πληροφορίες σχετικά με τα στοιχεία που του ζητούνται από το www.monemvasia.org για πρόσβαση στα περιεχόμενα/υπηρεσίες του
                                    μέσω της δημιουργίας προσωπικού λογαριασμού . πελάτης πατώντας στο εικονίδιο «δημιουργία λογαριασμού» οφείλει να συμπληρώσει μια φόρμα,
                                    η οποία περιέχει τα εξής στοιχεία: Όνομα, Επίθετο, Επωνυμία Εταιρίας(περί νομικών προσώπων) Aριθμός Τηλεφώνου, Διέυθυνση, Πόλη, Χώρα, Περιφέρεια, ΑΦΜ
                                    Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail), Αριθμός Τηλεoμοιότυπου (fax), Ταχυδρομικός Κώδικας, Κωδικός Πρόσβασης (Επιβεβαίωση Κωδικού Πρόσβασης).
                                    Σε αυτό το στάδιο ο πελάτης δημιουργεί τον προσωπικό του λογαριασμό. Ο πελάτης επίσης μπορεί να επιλέξει κατά το στάδιο της εγγραφής
                                    και αφού συμπληρώσει τα παραπάνω στοιχεία, αν επιθυμεί να λαμβάνει ενημερωτικά δελτία. O επισκέπτης της ιστοσελίδας έχει τη δυνατότητα εγγραφής
                                    στο ενημερωτικό δελτίο (newsletter), συμπληρώνοντας τα στοιχεία που προβλέπονται στην αντίστοιχη φόρμα (η οποία βρίσκεται στο εικονίδιο «Εγγραφή στο newsletter» ).
                                    Ο επισκέπτης ζητείται να συμπληρώσει το όνομα και την διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail). Με την εγγραφή στο ενημερωτικό δελτίο (newsletter) ,
                                    ο επισκέπτης θα λαμβάνει ενημερωτικά e-mail για τα προϊόντα, τις προσφορές και τις εκπτώσεις του καταστήματος. Ο επισκέπτης επίσης με την εγγραφή του κερδίζει
                                    αυτόματα έκπτωση 7% σε όλα τα προϊόντα (εξαιρούνται τα εκπτωτικά προϊόντα) του καταστήματος , για τις αγορές που θα πραγματοποιήσει..</p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->




{% endblock %}