{% load static %}

<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a href="{{ city.get_absolute_url }}">
                <img
                    src="{{ city.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""
                >
            </a>
        </div>
        <div class="back">
            <a href="{{ city.get_absolute_url }}"><img
                    src="{{ city.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="cart-info cart-wrap">

        </div>
    </div>
    <div class="product-detail">
        <hr/>
        <a href="{{ city.get_absolute_url }}">
            <h4>{{ city }}</h4>
        </a>
        <hr />
    </div>
</div>