{% load static %}

<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a href="{{ company.get_absolute_url }}">
                <img
                    src="{{ company.detail.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""
                >
            </a>
        </div>
        <div class="back">
            <a href="{{  company.get_absolute_url }}"><img
                    src="{{ company.detail.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="cart-info cart-wrap">

        </div>
    </div>
    <div class="product-detail">
        <hr/>
        <div class="rating">
            {{ company.get_business_type_display }}
        </div>
        <a href="{{  company.get_absolute_url }}">
            <h4>{{ company }}</h4>
        </a>
        <hr />
        <p>{{ company.city }}</p>
    </div>
</div>