{% load static %}

<!-- footer -->
    <footer>
        <div class="dark-layout">
            <div class="container">
                <section class="section-b-space border-b">
                    <div class="row footer-theme2">
                        <div class="col-lg-3">
                            <div class="footer-title">
                                <h4>ΠΛΗΡΟΦΟΡΙΕΣ</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-details">
                                    <li><a href="{% url 'contact' %}">ΕΠΙΚΟΙΝΩΝΗΣΤΕ ΜΑΖΙ ΜΑΣ</a> </li>
                                    <li>Email : <a href="#">Support@Fiot.com</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 subscribe-wrapper">
                            <div class="subscribe-block">
                                <h2>newsletter</h2>
                                <form style="color:white" method="post" class="form" action="{% url 'validate_newsletter' %}">
                                    {{ newsletter_form.as_p }}
                                    <button type="submit" class="btn btn-success">ΕΓΓΡΑΦΗ</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-title">
                                <h4>ΠΛΗΡΟΦΟΡΙΕΣ</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-details">
                                    <li>ΤΗΛΕΦΩΝΟ: 123-456-7898</li>
                                    <li>Email : <a href="#">Support@Fiot.com</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="sub-footer darker-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Monemvasia.org</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->