{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{% static 'my_assets/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'my_assets/favicon.png' %}" type="image/x-icon">
    <title>ΜΟΝΕΜΒΑΣΙΑ | {{ page_title }}</title>

    {% include 'include/css.html' %}
    <style>

        input{
            width: 100%;
        }
    </style>

</head>