{% load static %}

<!-- Vendor -->
		<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'assets/vendor/lazysizes/lazysizes.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'assets/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'assets/vendor/vide/jquery.vide.min.js' %}"></script>
		<script src="{% static 'assets/vendor/vivus/vivus.min.js' %}"></script>
		<script src="{% static 'assets/vendor/instafeed/instafeed.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'assets/js/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'assets/js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'assets/js/theme.init.js' %}"></script>

