{% load static %}

 <!-- header start -->
<header>
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>Καλώς ήρθατε στο monemvasia.org</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Τηλέφωνο Επικοινωνίας: 123 - 456 - 7890</li>
                        </ul>
                    </div>
                </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">

                            <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                                ΠΕΡΙΟΧΗ ΠΕΛΑΤΩΝ
                                <ul class="onhover-show-div">
                                   {% if request.user %}
                                        <li><a href="{% url 'accounts:homepage_view' %}">ΔΙΑΧΕΙΡΙΣΗ</a></li> 
                                    {% else %}
                                        <li><a href="{% url 'accounts:homepage_view' %}">ΣΥΝΔΕΣΗ</a></li>
                                     {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-start"><i class="fa fa-angle-left pe-2"
                                                    aria-hidden="true"></i> Back</div>
                                        </div>
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">

                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Instagram</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="{% url 'homepage' %}"><img width="193" height="40" src="{% static 'my_assets/photos/mo_po.jpg' %}"
                                        class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                    aria-hidden="true"></i></div>
                                        </li>
                                        <li><a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                                        <li>
                                            <a href="#">ΚΑΤΗΓΟΡΙΕΣ</a>
                                            <ul>
                                                {% for category in navbar_categories %}
                                                    <li><a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">ΠΟΛΕΙΣ</a>
                                            <ul>
                                                {% for city in cities %}
                                                    <li><a href="{{ city.get_absolute_url }}">{{ city }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">ΠΡΟΪΟΝΤΑ</a>
                                            <ul>
                                                {% for category in product_categories %}
                                                    <li><a href="{{ category.get_absolute_url }}">{{ category }} </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>

                                        <li><a href="{% url 'service_list_view' %}">ΥΠΗΡΕΣΙΕΣ</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div>
                                                <img src="{% static 'assets/images/icon/search.png' %}" onclick="openSearch()"
                                                    class="img-fluid blur-up lazyload" alt=""> <i class="ti-search"
                                                    onclick="openSearch()"></i>
                                            </div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div> <span class="closebtn" onclick="closeSearch()"
                                                        title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form action="{% url 'search' %}">
                                                                        <div class="form-group">
                                                                            <input
                                                                                    type="text"
                                                                                    class="form-control"
                                                                                    name="q"
                                                                                    placeholder="ΑΝΑΖΗΤΗΣΗ"
                                                                                    value='{{ request.GET.q }}'
                                                                            >

                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i
                                                                                class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% comment %}
                                        <li class="onhover-div mobile-setting">
                                            <div><img src="../assets/images/icon/setting.png"
                                                    class="img-fluid blur-up lazyload" alt=""> <i
                                                    class="ti-settings"></i></div>
                                            <div class="show-div setting">
                                                <h6>language</h6>
                                                <ul>
                                                    <li><a href="#">english</a></li>
                                                    <li><a href="#">french</a></li>
                                                </ul>
                                                <h6>currency</h6>
                                                <ul class="list-inline">
                                                    <li><a href="#">euro</a></li>
                                                    <li><a href="#">rupees</a></li>
                                                    <li><a href="#">pound</a></li>
                                                    <li><a href="#">doller</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        {% endcomment %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->