{% load static %}

<header>
    <div class="top-header d-none d-sm-block top-header-dark2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                            <div class="header-contact">
                                <ul>
                                    <li>Καλώς ήρθατε στο Monemvasia.org</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>Βρείτε μας στο: 123 - 456 - 7890</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 text-end">
                            <ul class="header-dropdown">
                                <li class="onhover-dropdown mobile-account"> <i class="fa fa-user"
                                        aria-hidden="true"></i>
                                    ΠΕΡΙΟΧΗ ΠΕΛΑΤΩΝ
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container layout3-menu">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main-menu">
                            <div class="menu-left around-border">
                                <div class="navbar"> <a href="#" onclick="openNav()"><i class="fa fa-bars sidebar-bar"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="main-menu-right">
                                    <nav>
                                        <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                        <ul class="sm pixelstrap sm-horizontal light-font-menu">
                                            <li>
                                                <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                        aria-hidden="true"></i></div>
                                            </li>
                                            <li>
                                                <a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a>
                                            </li>
                                            {% for category in categories %}
                                                <li>
                                                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="absolute-logo">
                                <div class="brand-logo">
                                    <a href="#"><img alt="" src="{% static 'assets/images/icon/logo/12.png' %}"></a>
                                </div>
                            </div>
                            <div class="">
                                <div class="menu-right pull-right">
                                    <div>
                                        <div class="icon-nav d-none d-sm-block">
                                            <ul>
                                                <li>
                                                <a href="">ΠΟΛΕΙΣ</a>
                                            </li>
                                                <li class="onhover-div mobile-search">
                                                    <div><img alt="" src="{% static 'assets/images/icon/layout4/search.png' %}"
                                                            onclick="openSearch()" class="img-fluid blur-up lazyload">
                                                        <i class="ti-search" onclick="openSearch()"></i>
                                                    </div>
                                                </li>
                                                <li class="onhover-div mobile-setting">
                                                    <div><img alt="" src="{% static 'assets/images/icon/layout4/setting.png' %}"
                                                            class="img-fluid blur-up lazyload"> <i
                                                            class="ti-settings"></i>
                                                    </div>
                                                </li>
                                                <li class="onhover-div mobile-cart">
                                                    <div><img alt="" src="{% static 'assets/images/icon/layout4/cart.png' %}"
                                                            class="img-fluid blur-up lazyload"> <i
                                                            class="ti-shopping-cart"></i></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>