{% load static %}

<div class="product-box">
    <div class="img-wrapper">
        {% comment %}
        <div class="lable-block">
            <span class="lable3">new</span>
            <span class="lable4">on sale</span>
        </div>
        {% endcomment %}
        <div class="front">
            <a href="{{ product.get_absolute_url }}">
                <img
                    src="{{ product.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="back">
            <a href="{{ product.get_absolute_url }}"><img
                    src="{{ product.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt="">
            </a>
        </div>
        <div class="cart-info cart-wrap">

        </div>
    </div>
    <div class="product-detail">
        <div class="rating">
            {{ product.company }}
        </div>
        <a class="btnModal" data-href="{{ product.get_modal_url }}">
            <h6>{{ product }}</h6>
        </a>
        <h4>{{ product.tag_final_value }}</h4>

    </div>
</div>