<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a href="{{ service.get_absolute_url }}"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="back">
            <a href="{{ service.get_absolute_url }}"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="cart-info cart-wrap">

        </div>
    </div>
    <div class="product-detail">
        <div class="rating">{{ service.company }}</div>
        <a href="{{ service.get_absolute_url }}">
            <h6>{{ service }}</h6>
        </a>
    </div>
</div>