<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a data-href="{% url 'ajax_service_modal' service.slug %}" class="service_btn"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="back">
            <a data-href="{% url 'ajax_service_modal' service.slug %}" class="service_btn"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="cart-info cart-wrap">

        </div>
    </div>
    <div class="product-detail">
        <div class="rating">{{ service.company }}</div>
        <a data-href="{% url 'ajax_service_modal' service.slug %}" class="service_btn">
            <h6>{{ service }}</h6>
        </a>
    </div>
</div>