<div class="product-box">
    <div class="img-wrapper">
        <div class="front">
            <a href="{{ service.get_absolute_url }}"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="back">
            <a href="{{ service.get_absolute_url }}"><img
                    src="{{ service.tag_image }}"
                    class="img-fluid blur-up lazyload bg-img" alt=""></a>
        </div>
        <div class="cart-info cart-wrap">
            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                    title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                href="javascript:void(0)" title="Add to Wishlist"><i
                class="ti-heart" aria-hidden="true"></i>
        </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                                    title="Quick View"><i class="ti-search" aria-hidden="true"></i>
            </a>
            <a href="{{ service.get_absolute_url }}" title="Compare">
                <i class="ti-reload" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="product-detail">
        <div class="rating">{{ service.company }}</div>
        <a href="{{ service.get_absolute_url }}">
            <h6>{{ service }}</h6>
        </a>
    </div>
</div>