{% extends 'index.html' %}

{% block content %}
 <div role="main" class="main">
     <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>{{ page_title }}</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     <div class="row" style="margin: 2%">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>ΑΝΑΚΤΗΣΗ ΚΩΔΙΚΟΥ</h4>
                </div>
                <div class="card-body">
                  {% if validlink %}
                    <h3>Change password</h3>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Change password</button>
                    </form>
                  {% else %}
                    <p>
                      The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.
                    </p>
                  {% endif %}

                </div>
            </div>

        </div>


    </div>
 </div>

{% endblock %}