{% extends 'index.html' %}

{% block content %}
 <div role="main" class="main">
     <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>{{ page_title }}</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     <div class="row" style="margin: 2%">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>ΑΝΑΚΤΗΣΗ ΚΩΔΙΚΟΥ</h4>
                </div>
                <div class="card-body">
                    <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
                </div>
            </div>

        </div>


    </div>
 </div>

{% endblock %}