{% extends 'index.html' %}

{% block content %}
    <div role="main" class="main">
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-dark font-weight-bold text-8">{{ category }}</h1>
                        <br />
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center">
                            <li><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                            <li class="active">{{ page_title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-4">
            <div class="row">
						<div class="col-lg-3">
							<aside class="sidebar">
								<form method="get">
									<div class="input-group mb-3 pb-1">
										<input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
										<button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
									</div>
								</form>
								<h5 class="font-weight-semi-bold pt-4">ΚΑΤΗΓΟΡΙΕΣ</h5>
								<ul class="nav nav-list flex-column mb-5">
                                    {% for cat in prod_cat %}
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{{ cat.get_absolute_url }}">{{ cat }}</a>
                                            {% if cat.have_childrens %}
                                            <ul>
                                                {% for cat_ in cat.childrens.all %}
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="{{ cat_.get_absolute_url }}">{{ cat_ }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

								</ul>
								{% include 'include/featured_products.html' %}

							</aside>
						</div>
						<div class="col-lg-9">
							<div class="blog-posts">
                                {% for product in object_list %}
                                    {% include 'include/product_card.html' %}
                                {% endfor %}

                                {% comment %}
								<ul class="pagination float-end">
									<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>
								{% endcomment %}

							</div>
						</div>
					</div>

				</div>

			</div>

{% endblock %}