<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{{ profile.tag_image }}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon/1.png' %}" type="image/x-icon">
    <title>{{ company }}</title>

    {% include 'include/css.html' %}


</head>

<body class="theme-color-2 section-white">


    <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Πληροφορίες για {{ company }}</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>ΤΗΛΕΦΩΝΟ: {{ profile.tag_phones }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <ul class="header-dropdown">

                            <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
                                ΠΕΡΙΟΧΗ ΠΕΛΑΤΩΝ
                                <ul class="onhover-show-div">
                                    <li><a href="{% url 'accounts:register' %}">ΣΥΝΔΕΣΗ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-start"><i class="fa fa-angle-left pe-2"
                                                    aria-hidden="true"></i> Back</div>
                                        </div>
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                            {% if profile.facebook_url %}<li><a target="_blank" href="{{ profile.facebook_url }}">FACEBOOK</a></li> {% endif %}
                                            {% if profile.instagram_url %}<li><a target="_blank" href="{{ profile.instagram_url }}">INSTAGRAM</a></li>{% endif %}
                                            {% if profile.website %}<li><a target="_blank" href="{{ profile.website }}">INSTAGRAM</a></li>{% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="{{ company.get_absolute_url }}"><img width="120" height="160" src="{{ profile.tag_logo }}"
                                        class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                    aria-hidden="true"></i></div>
                                        </li>
                                        <li><a href="{% url 'homepage' %}">ΕΠΙΣΤΡΟΦΗ ΣΤΟ SITE</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- Home slider -->
    <section class="pt-0">
        <div class="slider-animate home-slider">
            <div>
                <div class="home">
                    <img src="{{ object.get_background_image }}" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain px-padding">
                                    <div>
                                        <h4 class="animated" data-animation-in="fadeInUp">{{ company.get_business_type_display }}</h4>
                                        <h1 class="animated" data-animation-in="fadeInUp" data-delay-in="0.3">
                                            {{ company }}</h1>
                                        {% if profile.website %}
                                            <a target="_blank" href="{{ profile.website }}" class="btn btn-solid animated"
                                            data-animation-in="fadeInUp" data-delay-in="0.5">ΕΠΙΣΚΕΥΤΕΙΤΕ ΤΟ SITE</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- about section-->
    <section style="margin-bottom: 3%">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="title3">
                        <h4>Η ΙΣΤΟΡΙΑ ΜΑΣ</h4>
                        <h2 class="title-inner3">Η ΙΣΤΟΡΙΑ ΜΑΣ</h2>
                        <div class="line"></div>
                    </div>
                    <div class="about-text">
                        {{ profile.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->

    {% if profile.show_products %}
    <!-- product start -->
    <section class="section-b-space bg-light bag-product ratio_square">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title3">
                        <h4>Δείτε</h4>
                        <h2 class="title-inner3">ΤΑ ΠΡΟΪΟΝΤΑ ΜΑΣ</h2>
                        <div class="line"></div>
                    </div>
                    <div class="product-5 product-m no-arrow">
                        {% for product in products %}
                            {% include 'include/product_card.html' %}
                            {% empty %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product end -->
    {% endif %}

    {% if profile.show_services %}
    <!-- product section start -->
    <section class="bag-product ratio_square section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title3">
                        <h4>ΔΕΙΤΕ ΤΙΣ</h4>
                        <h2 class="title-inner3">ΥΠΗΡΕΣΙΕΣ</h2>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row no-slider margin-default five-product">
                        {% for service in services %}
                            {% include 'include/service_card.html' %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product section end -->
    {% endif %}

    <!-- lookbook section -->
    <section class="lookbook ratio_square lookbook-layout bg-light section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title3">
                        <h2 class="title-inner3">ΒΡΕΙΤΕ ΜΑΣ</h2>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-md-6">
                   <!--Google map-->
                    <iframe src="{{ object.google_map_location }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">

                    </iframe>
                    <!--Google Maps-->
                </div>
                <div class="col-md-6">
                    <div class="contact-right">
                        <ul>
                            <li>
                                <div class="contact-icon"><img src="{% static 'assets/images/icon/phone.png' %}"
                                        alt="Generic placeholder image">
                                    <h6>ΤΗΛΕΦΩΝΑ </h6>
                                </div>
                                <div class="media-body">
                                    <p>{{ profile.cellphone }}</p>
                                    <p>{{ profile.phone }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>ΔΙΕΥΘΥΝΣΗ</h6>
                                </div>
                                <div class="media-body">
                                    <p>{{ profile.address }}</p>
                                    <p>{{ company.city }}</p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="contact-icon"><img src="{% static 'assets/images/icon/email.png' %}"
                                        alt="Generic placeholder image">
                                    <h6>Email</h6>
                                </div>
                                <div class="media-body">
                                    <p>{{ profile.email }}</p>
                                    <p><a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a> </p>
                                    {% if profile.facebook_url %} <p><a href="{{ profile.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a> </p> {% endif %}
                                    {% if profile.instagram_url %} <p><a href="{{ profile.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i> </a> </p> {% endif %}
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- lookbook section end-->




    {% if photos %}
    <!-- instagram section -->
    <section class="instagram section-b-space ratio_square">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-borderless"># ΦΩΤΟΓΡΑΦΙΕΣ</h2>
                    <div class="slide-7 no-arrow slick-instagram">
                        {% for photo in object.images.all %}
                        <div>
                            <a href="#">
                                <div class="instagram-box">
                                    <img src="{{ photo.image.url }}" alt="Avatar" class="bg-img"
                                        style="width:100%">
                                    <div class="overlay">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instagram section end -->
    {% endif %}

    <div id="modal_area"></div>


    <!-- footer section start -->
    <footer class="sticky-footer darken-background">
        {% comment %}
        <section class="section-b-space darken-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img src="../assets/images/icon/logo/f5.png" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                            <div class="footer-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-xl-1 ">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>my account</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">mens</a></li>
                                    <li><a href="#">womens</a></li>
                                    <li><a href="#">clothing</a></li>
                                    <li><a href="#">accessories</a></li>
                                    <li><a href="#">featured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>why we choose</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">shipping &amp; return</a></li>
                                    <li><a href="#">secure shopping</a></li>
                                    <li><a href="#">gallary</a></li>
                                    <li><a href="#">affiliates</a></li>
                                    <li><a href="#">contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li><i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store
                                        India 345-659</li>
                                    <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                                    <li><i class="fa fa-envelope-o"></i>Email Us: <a href="#">Support@Fiot.com</a></li>
                                    <li><i class="fa fa-fax"></i>Fax: 123456</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endcomment %}
        <div class="sub-footer darker-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2022 Created by www.monemvasia.org</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->






    <!-- tap to top -->
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->

{% include 'include/js.html' %}

<script type="text/javascript">
    $('.service_btn').on('click',function (evt) {
        evt.preventDefault();
        $('#modal_area').empty();
        const my_btn = $(this);
        const url = my_btn.attr('data-href');
        console.log('click', url);
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,

            success: function (data) {
                $('#modal_area').html(data.result);
                $('#productModal').modal('show');
            }
        })
    })
</script>


 <script type="text/javascript">
     $('.btnModal').on('click',function (evt) {
         evt.preventDefault();
         $('#modal_area').empty();
         const my_btn = $(this);
         const url = my_btn.attr('data-href');

         $.ajax({
             method: 'GET',
             dataType: 'json',
             url: url,

             success: function (data) {
                 $('#modal_area').html(data.result);
                 $('#productModal').modal('show');
             }
         })
     })
 </script>

</body>

</html>