<!DOCTYPE html> {% load static %}
<html>
    {% include 'include/head.html' %}

	<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="loading-overlay">
			<div class="bounce-loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="body">

			{% include 'include/navbar.html' %}
            {% block content %}
			    <div role="main" class="main">
				<section class="section border-0 m-0 pb-3">
					<div class="container container-xl-custom">
						<div class="row pb-1">
                            {% for company in featured %}
							    <div class="col-sm-6 col-lg-4 mb-4 pb-2">
								<a href="{{ company.get_absolute_url }}">
									<article>
										<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
											<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
												<img src="{{ company.logo.url }}" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
												<div class="thumb-info-title bg-transparent p-4">
													<div class="thumb-info-type bg-color-primary px-2 mb-1">{{ company.get_business_type_display }}</div>
													<div class="thumb-info-inner mt-1">
														<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ company }}</h2>
													</div>
													<div class="thumb-info-show-more-content">
														<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">
                                                            {{ company.description|safe|truncatechars_html:40 }}
                                                        </p>
													</div>
												</div>
											</div>
										</div>
									</article>
								</a>
							</div>
                            {% endfor %}


						</div>
					</div>
				</section>

				<div class="container container-xl-custom">
					<div class="row py-5">
                        <div class="col-lg-6">

							<h3 class="font-weight-bold text-3 mt-4 mt-md-0">ΠΡΟΤΕΙΝΟΜΕΝΕΣ ΕΠΙΧΕΙΡΗΣΕΙΣ</h3>

							<div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                                {% for company in first_choice %}
								<div>
									<a href="{{ company.get_absolute_url }}">
										<article>
											<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
												<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
													<img src="{{ company.logo.url }}" class="img-fluid" alt="Main Reasons To Stop Texting And Driving">
													<div class="thumb-info-title bg-transparent p-4">
														<div class="thumb-info-type bg-color-primary px-2 mb-1">{{ company.get_business_type_display }}</div>
														<div class="thumb-info-inner mt-1">
															<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ company }}</h2>
														</div>
														<div class="thumb-info-show-more-content">
															<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">{{ company.detail.description|safe|truncatechars_html:25 }}.</p>
														</div>
													</div>
												</div>
											</div>
										</article>
									</a>
								</div>
                                {% endfor %}



							</div>
						</div>
						<div class="col-md-6 col-lg-6">

							<h3 class="font-weight-bold text-3 mb-0">ΠΡΟΤΕΙΝΟΜΕΝΕΣ ΑΓΓΕΛΙΕΣ</h3>

							<ul class="simple-post-list">
                                {% for job in featured_jobs %}
								<li>
									<article>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="">
													<img src="{% static 'assets/img/blog/square/blog-55.jpg' %}" class="border-radius-0" width="50" height="50" alt="Simple Ways to Have a Pretty Face">
												</a>
											</div>
										</div>
										<div class="post-info">
											<h4 class="font-weight-normal text-3 line-height-4 mb-0"><a href="" class="text-dark">{{ job }}</a></h4>
											<div class="post-meta">
												{{ job.published }}
											</div>
										</div>
									</article>
								</li>
                                {% endfor %}

							</ul>

						</div>


					</div>
				</div>

				<section class="section bg-color-primary border-0 m-0">
					<div class="container container-xl-custom">
						<div class="row">
							<div class="col text-center">
								<div class="owl-carousel owl-theme nav-dark stage-margin nav-style-1 m-0" data-plugin-options="{'items': 6, 'margin': 5, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                                    {% for city in cities %}
									<div class="px-3">
										<a href="{{ city.get_absolute_url }}" class="btn btn-dark w-100 py-3 rounded-0 text-2 text-uppercase font-weight-bold">{{ city }}</a>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="container container-xl-custom">

					<div class="row mt-5 pt-3">
						<div class="col-md-9">
							<div class="blog-posts">
                                {% for company in main_companies %}
								    <article>
										<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
											<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
												<img src="{{ company.logo.url }}" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
												<div class="thumb-info-title bg-transparent p-4">
													<div class="thumb-info-type bg-color-primary px-2 mb-1">{{ company.get_business_type_display }}</div>
													<div class="thumb-info-inner mt-1">
														<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ company }}</h2>
													</div>
													<div class="thumb-info-show-more-content">
														<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">
                                                            {{ company.description|safe|truncatechars_html:40 }}
                                                        </p>
													</div>
												</div>
											</div>
										</div>
									</article>
                                {% endfor %}

							</div>
						</div>
						<div class="col-md-3">
							<aside class="sidebar pb-4" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<h5 class="font-weight-semi-bold pt-4">Find us on Facebook</h5>
								<div class="fb-page" data-href="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                    <blockquote cite="" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OklerThemes/">Okler Themes</a></blockquote></div>
							</aside>
						</div>
					</div>

				</div>
			</div>
            {% endblock %}
			<footer id="footer">
				<div class="container">
					<div class="footer-ribbon">
						<span>Get in Touch</span>
					</div>
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
							<h5 class="text-3 mb-3">ABOUT THE BLOG</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna semper scelerisque.</p>
							<p class="mb-2">Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis ptent taciti sociosqu ad litora...</p>
							<p class="mb-0"><a href="#" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 ps-2"></i></a></p>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<h5 class="text-3 mb-3">RECENT POSTS</h5>
							<ul class="list-unstyled mb-0">
								<li class="d-flex mb-3 pb-1">
									<article class="d-flex">
										<a href="#">
											<img class="me-3 rounded-circle" src="img/office/our-office-4-square.jpg" alt="" style="max-width: 70px;">
										</a>
										<div class="media-body">
											<a href="#">
												<h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">Lorem ipsum dolor sit, consectetur adipiscing elit.</h6>
												<p class="text-2 mb-0">12:53 AM Dec 19th</p>
											</a>
										</div>
									</article>
								</li>
								<li class="d-flex">
									<article class="d-flex">
										<a href="#">
											<img class="me-3 rounded-circle" src="img/office/our-office-5-square.jpg" alt="" style="max-width: 70px;">
										</a>
										<div class="media-body">
											<a href="#">
												<h6 class="text-3 text-color-light opacity-8 ls-0 mb-1">Lorem ipsum dolor sit, consectetur adipiscing elit.</h6>
												<p class="text-2 mb-0">12:53 AM Dec 19th</p>
											</a>
										</div>
									</article>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-md-0">
							<h5 class="text-3 mb-3">RECENT COMMENTS</h5>
							<ul class="list-unstyled mb-0">
								<li class="mb-3 pb-1">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
										<p class="text-2 mb-0">12:55 AM Dec 19th</p>
									</a>
								</li>
								<li>
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ms-2">John Doe</strong> commented on <strong class="text-color-primary">lorem ipsum dolor sit amet.</strong></p>
										<p class="text-2 mb-0">12:55 AM Dec 19th</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2">
							<h5 class="text-3 mb-3">CATEGORIES</h5>
							<p>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Gadgets</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Photography</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Lifestyle</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Fashion</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Recipes</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Travel</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Business</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Architecture</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Reviews</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Sports</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Videos</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Technology</span></a>
								<a href="#"><span class="badge badge-dark bg-color-black badge-sm py-2 me-1 mb-2 text-uppercase">Design</span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
								<a href="index.html" class="logo pe-0 pe-lg-3">
									<img alt="Porto Website Template" src="img/logo-footer.png" class="opacity-5" height="32">
								</a>
							</div>
							<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
								<p>© Copyright 2021. All Rights Reserved.</p>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
								<nav id="sub-menu">
									<ul>
										<li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ms-1 text-decoration-none"> FAQ's</a></li>
										<li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ms-1 text-decoration-none"> Sitemap</a></li>
										<li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ms-1 text-decoration-none"> Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		{% include 'include/js.html' %}
        {% block extra_js %} {% endblock %}
	</body>
</html>
