<!DOCTYPE html> {% load static %}
<html>
    {% include 'include/head.html' %}
    {% block extra_css %}

    {% endblock %}

	<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="loading-overlay">
			<div class="bounce-loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="body">

			{% include 'include/navbar.html' %}
            {% block content %}
			    <div role="main" class="main">
				<section class="section border-0 m-0 pb-3">
					<div class="container container-xl-custom">
						<div class="row pb-1">
                            {% for company in featured %}
							    <div class="col-sm-6 col-lg-4 mb-4 pb-2">
								<a href="{{ company.get_absolute_url }}">
									<article>
										<div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
											<div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
												<img src="{{ company.logo.url }}" class="img-fluid" alt="How To Take Better Concert Pictures in 30 Seconds">
												<div class="thumb-info-title bg-transparent p-4">
													<div class="thumb-info-type bg-color-primary px-2 mb-1">{{ company.get_business_type_display }}</div>
													<div class="thumb-info-inner mt-1">
														<h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ company }}</h2>
													</div>
													<div class="thumb-info-show-more-content">
														<p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">
                                                            {{ company.description|safe|truncatechars_html:40 }}
                                                        </p>
													</div>
												</div>
											</div>
										</div>
									</article>
								</a>
							</div>
                            {% endfor %}


						</div>
					</div>
				</section>

				<div class="container container-xl-custom">
					<div class="row py-5">
                        <div class="col-lg-6">

							<h3 class="font-weight-bold text-3 mt-4 mt-md-0">ΠΡΟΪΟΝΤΑ</h3>

							<div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 5000}">
                                {% for product in featured_products %}
                                    <div>
                                        <a href="{{ product.get_detail_url }}">
                                            <article>
                                                <div class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                                    <div class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                                                        <img src="{{ product.tag_image }}" class="img-fluid" alt="{{ product.title }}">
                                                        <div class="thumb-info-title bg-transparent p-4">
                                                            <div class="thumb-info-type bg-color-primary px-2 mb-1">{{ product.company }}</div>
                                                            <div class="thumb-info-inner mt-1">
                                                                <h2 class="text-color-light line-height-2 text-4 font-weight-bold mb-0">{{ product }}</h2>
                                                            </div>
                                                            <div class="thumb-info-show-more-content">
                                                                <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">{{ product.text|safe|truncatechars_html:25 }}.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                {% endfor %}



							</div>
						</div>
						<div class="col-md-6 col-lg-6">

							<h3 class="font-weight-bold text-3 mb-0">ΥΠΗΡΕΣΙΕΣ</h3>

							<ul class="simple-post-list">
                                {% for service in featured_services %}
								<li>
									<article>
										<div class="post-image">
											<div class="img-thumbnail img-thumbnail-no-borders d-block">
												<a href="{{ service.get_detail_url }}">
													<img src="{{ service.tag_image }}" class="border-radius-0" width="50" height="50" alt="Simple Ways to Have a Pretty Face">
												</a>
											</div>
										</div>
										<div class="post-info">
											<h4 class="font-weight-normal text-3 line-height-4 mb-0"><a href="{{ service.get_detail_url }}" class="text-dark">{{ service }}</a></h4>
											<div class="post-meta">
												{{ service.company }}
											</div>
										</div>
									</article>
								</li>
                                {% endfor %}

							</ul>

						</div>


					</div>
				</div>

				<section class="section bg-color-primary border-0 m-0">
					<div class="container container-xl-custom">
						<div class="row">
							<div class="col text-center">
								<div class="owl-carousel owl-theme nav-dark stage-margin nav-style-1 m-0" data-plugin-options="{'items': 6, 'margin': 5, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                                    {% for city in cities %}
									<div class="px-3">
										<a href="{{ city.get_absolute_url }}" class="btn btn-dark w-100 py-3 rounded-0 text-2 text-uppercase font-weight-bold">{{ city }}</a>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="container container-xl-custom">

					<div class="row mt-5 pt-3">
						<div class="col-md-9">
							<div class="blog-posts">
                                {% for company in companies %}
								    {% include 'include/company_card.html' %}
                                {% endfor %}

							</div>
						</div>
						<div class="col-md-3">
							<aside class="sidebar pb-4" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<h5 class="font-weight-semi-bold pt-4">ΠΡΟΤΕΙΝΟΜΕΝΕΣ ΚΑΤΗΓΟΡΙΕΣ</h5>
                                {% for category in product_categories %}
                                    <div class="fb-page" data-href="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                                         data-show-facepile="true">
                                        <blockquote cite="" class="fb-xfbml-parse-ignore">
                                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        </blockquote>
                                    </div>
                                {% endfor %}

							</aside>
						</div>
					</div>

				</div>
			</div>
            {% endblock %}
            {% include 'include/footer.html' %}
		</div>

		{% include 'include/js.html' %}
        {% block extra_js %} {% endblock %}
	</body>
</html>
